/*!
 * QuizApp CSS file
 */
body{
	background-image: url('../../../static/img/background.jpg');
	background-attachment: fixed;
}

.btn-inner {
	width:200px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px
}
.btn-topic {
	width:80%;
	margin-top:10px;
	margin-bottom:10px
}
.main-inner {
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}
.well-menu {
	width:500px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:20px
}
.sidebar {
	text-align:center
}
.panel-default {
	padding:20px
}