{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ super() }}
	{% endblock %}	
</head>

<body>
	{% block content %}
    {{ super() }}
	<div class="col-md-10 main-inner">
		<div class="panel panel-default" style="text-align:center">
            <form action="/add/question" method="post">
                <table style="text-align: left;">
                    <tr>
                        <td>
                            <h1>Enter question details:</h1>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="question">Question:</label></td>
                        <td><input type="text" name="question" size="60"></td>
                    </tr>
                    {% if topics %}
                    <tr>
                        <td><label for="topic">Topic:</label></td>
                        <td><select name="topic">
                            {% for topic in topics %}
                            <option value="{{ topic.key().id() }}">{{ topic.name }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><label for="correct_ans">Correct answer:</label></td>
                        <td><input type="text" name="correct_ans" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="wrong_ans1">Wrong answers 1:</label></td>
                        <td><input type="text" name="wrong_ans1" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="wrong_ans2">Wrong answers 2:</label></td>
                        <td><input type="text" name="wrong_ans2" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="wrong_ans3">Wrong answers 3:</label></td>
                        <td><input type="text" name="wrong_ans3" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="wiki_link">Wiki link:</label></td>
                        <td><input type="text" name="wiki_link" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="img_link">Image link:</label></td>
                        <td><input type="text" name="img_link" size="60"></td>
                    </tr>
                    <tr>
                        <td><label for="description">Description:</label><br></td>
                        <td><textarea name="description" rows="3" cols="60"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
            </div>
	</div>
	{% endblock %}
	
	{% block sidebar %}
	{{ super() }}
	{% endblock %}
	
	{% block script %}
	{{ super() }}
	{% endblock %}
</body>
</html>
