{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ super() }}
	{% endblock %}	
</head>

<body>
	{% block content %}
	{{ super() }}
	<div class="col-md-10 main-inner">
		<div class="content">
			<h1 style="text-align:center">Friends</h1>
			<form action="/friend" method="post">
				Add a player as your friend by NAME: <input type="text" name="friend_name">
				<input type="submit" value="Add new friend">
			</form>
			<form action="/friend" method="post">
				Add a player as your friend by ACCOUNT: <input type="text" name="account">
				<input type="submit" value="Add new friend">
			</form>
			<form action="/friend" method="post">
				Delete a friend by NAME: <input type="text" name="friend_name_del">
				<input type="submit" value="Bye bye">
			</form>
			<form action="/friend" method="post">
				Delete a friend by ACCOUNT: <input type="text" name="friend_account_del">
				<input type="submit" value="Bye bye">
			</form>
			
			<hr>
			{% for friend_name in friend_name_list %}
			<ul>
				<li class="active"><a href="{{ '/info/' + friend_name }}">{{ friend_name }}</a></li>
				<!-- Maybe we should add some features here -->
				<!-- Click on the friend's name, and there comes out a list of things you can do -->
				<!-- Such as send message to him, play game with him, view his game history, view his profile, etc. -->
			</ul>
			<hr>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
	{% block sidebar %}
	{{ super() }}
	{% endblock %}
	{% block script %}
	{{ super() }}
	{% endblock %}
</body>
</html>