{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">

<body>
	{% block content %}
	{{ super() }}
	<div class="col-md-10 main-inner">
		<div class="content">
			<h1 style="text-align:center">Game History</h1>
			<form action="/gamehistory" method="post">
				Find the games history of a player by NAME: <input type="text" name="player_name"><br>
				<input type="submit" value="Submit">
			</form>
			<hr>
			{% for game_time in game_time_list %}
			<ul>
				<li>Played time: {{ game_time_list[loop.revindex0] }}</li>
				<li>Topic: {{ topic_list[loop.revindex0] }}</li>
				<li>{{ who_win_list[loop.revindex0] }}</li>
				<li>{{ player_a_name_list[loop.revindex0] }}'s score: {{ player_a_score_list[loop.revindex0] }}</li>
				<li>{{ player_b_name_list[loop.revindex0] }}'s score: {{ player_b_score_list[loop.revindex0] }}</li>
			</ul>
			<hr>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
</body>
</html>