{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ super() }}
	{% endblock %}	
</head>

<body>
	{% block content %}
	{{ super() }}
	<div class="col-md-10 main-inner">
		<div class="content">
			<h1>Topics</h1>	
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				{% for topic in topics %}
				<div class="panel panel-topic">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="{{ '#' + topic.topicID }}">{{ topic.name }}</a>
						</h4>
					</div>
					<div id="{{ topic.topicID }}" class="panel-collapse collapse">
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-inner" onclick="location.href='quiz/{{ topic.topicID }}/'">Play</button>
							<button type="button" class="btn btn-default btn-inner">Challenge</button>
							<br>
							<button type="button" class="btn btn-default btn-inner">Chat</button>
							<button type="button" class="btn btn-default btn-inner">Ranking</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
	{% block sidebar %}
	{{ super() }}
	{% endblock %}
	{% block script %}
	{{ super() }}
	{% endblock %}
</body>
</html>