{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">

<body>
	{% block content %}
	{{ super() }}
	<div class="col-md-10 main-inner">
		<div class="content">
			<div class="panel panel-default">
				<h1>{{ player_name }}</h1>
				<hr style="height:1px;border:none;color:#333;background-color:#333;" />
				<p>Account: {{ player_account }}</p>
				<p>Level: {{ player_level }}</p> 
				<p>Exp: {{ player_experience }}</p>
				<hr style="height:1px;border:none;color:#333;background-color:#333;" />
				<p>Introduction: {{ player_intro }}</p>
			</div>
		</div>
	</div>
	{% endblock %}
</body>
</html>
