{% extends "base_of_all_page.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{{ super() }}
	{% endblock %}	
</head>

<body>
	{% block content %}
	{{ super() }}
	<div class="col-md-12 main-inner">
		<div class="content">
			<div class="panel panel-default" align="center">
				<h1>{{ account }}</h1>
				<hr>
				<form action="/password" method="post">
					<table>
					<tr>
						<td><label for="old">Old password:</label></td>
						<td><input type="password" name="old"></td>
					</tr>
					<tr>
						<td><label for="new">New password:</label></td>
						<td><input type="password" name="new"></td>
					</tr>
					<tr>
						<td><label for="verify">Verify password:</label></td>
						<td><input type="password" name="verify"></td>
					</tr>
					</table>
					<input type="submit" value="Change">
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
	
	{% block script %}
	{{ super() }}
	{% endblock %}
</body>
</html>
