{% extends "base_of_game_and_result.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}Match vs. Someone{% endblock %}
	{% block head %}
	{{ super() }}
	{% endblock %}
</head>

<body>
	{% block content %}
	{{ super() }}
	{% block middle %}
	<div class="col-md-8 main-inner">
		<div class="content">
			<div class="panel panel-default" align:center>
				<h1 id="question">{{ question }}</h1>
				<br>
				<img id="img" width="350" height="300" src="{{ img_link }}">
			
				<div class="well well-menu">
					<button type="button" id="button1" class="btn btn-default btn-inner">{{ answer1 }}</button>
					<button type="button" id="button2" class="btn btn-default btn-inner">{{ answer2 }}</button>
					<br>
					<button type="button" id="button3" class="btn btn-default btn-inner">{{ answer3 }}</button>
					<button type="button" id="button4" class="btn btn-default btn-inner">{{ answer4 }}</button>
				</div>
				
			</div>
			<div>{{ quiz_key }}</div>
		</div>
	</div>
	{% endblock %}
	{% endblock %}
	{% block sidebar %}
	{{ super() }}
	{% endblock %}
	
	{% block script %}
	{{ super() }}
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript">		
		var state = {
			user : "{{ user }}",
			quiz_key : "{{ quiz_key }}"
		};			
		var	sendMessage = function(path) {
			var xhr = new XMLHttpRequest();
			xhr.open('POST', path, true);
			xhr.send();
		};
		var updateGame = function() {
			$('#question').html(state.question);
			$('#img').attr("src", state.img_link);
			$('#button1').html(state.answers[0]);
			$('#button2').html(state.answers[1]);
			$('#button3').html(state.answers[2]);
			$('#button4').html(state.answers[3]);
		};		
		var	submit = function(button) {
			var source = document.getElementById(button);
			var answer = source.innerHTML;
			var parameters = '?user=' + state.user + '&quiz_key=' + state.quiz_key + '&answer=' + answer;
			sendMessage('/quiz/submit' + parameters);
		};									
		var	onMessage = function(m) {
			newState = JSON.parse(m.data);
			state.question = newState.question || state.question;
			state.img_link = newState.img_link || state.img_link;
			state.answers = newState.answers || state.answers;
			updateGame();
		};					
		var	openChannel = function() {
			var token = '{{ token }}';
			var channel = new goog.appengine.Channel(token);
			var handler = {
				'onopen': function() {},
				'onmessage': onMessage,
				'onerror': function() {},
				'onclose': function() {}
			};
			var socket = channel.open(handler);
			socket.onmessage = onMessage;
		};
		
		$('#button1').click(function(){ submit("button1"); });
		$('#button2').click(function(){ submit("button2"); });
		$('#button3').click(function(){ submit("button3"); });
		$('#button4').click(function(){ submit("button4"); });
		
		$(function(){ openChannel(); });
	</script>
	{% endblock %}
</body>
</html>