{% extends "base_of_game_and_result.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}Match vs. Someone{% endblock %}
	{% block head %}
	{{ super() }}
	{% endblock %}
</head>

<body>
	{% block left %}
	{{ super() }}
	{% endblock %}
	
	{% block middle %}
	<div class="col-md-8 main-inner">
		<div class="panel panel-default" style="text-align:center">
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					<span class="sr-only">60% Complete</span>
				</div>
			</div>
			<h1>Question</h1>
			<br>
			<div style="height:200px; background:grey">
				<h1>Picture</h1>
			</div>
			
			<div class="well well-menu">
				<button type="button" class="btn btn-default btn-inner">Answer 1</button>
				<button type="button" class="btn btn-default btn-inner">Answer 2</button>
				<br>
				<button type="button" class="btn btn-default btn-inner">Answer 3</button>
				<button type="button" class="btn btn-default btn-inner">Answer 4</button>
			</div>
		</div>
	</div>
	{% endblock %}

	{% block right %}
	{{ super() }}
	{% endblock %}
	
	{% block script %}
	{{ super() }}
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript">					
		var	sendMessage = function(path, opt_param) {
			if (opt_param) {
				path += '&' + opt_param;
			}
			var xhr = new XMLHttpRequest();
			xhr.open('POST', path, true);
			setTimeout(xhr.send(), 1000);
		};		
		var	submit = function() {
			sendMessage('/submit');
		};								
		var	onOpen = function() {
			sendMessage('/opened');
		};		
		var	onMessage = function(m) {
			updateGame();
		};					
		var	openChannel = function() {
			var token = '{{ token }}';
			var channel = new goog.appengine.Channel(token);
			var handler = {
				'onopen': onOpen,
				'onmessage': onMessage,
				'onerror': function() {},
				'onclose': function() {}
			};
			var socket = channel.open(handler);
			socket.onopen = onOpen;
			socket.onmessage = onMessage;
		};		
		$(function(){
			openChannel();
		});
	</script>
	{% endblock %}
</body>
</html>